@import url('https://fonts.googleapis.com/css?family=Bangers|Catamaran:100|Hind');


body{
  // font-family: 'Hind', sans-serif;
  font-family: 'Catamaran', sans-serif;
  background-color: #eeeeee;
  height: calc(100vh + 50px);
  font-weight: bold;
}
.homePageTitle{
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 60px;
  color: #007DC3;
}

.map{
  height: 200px;
  &.burger-index{
    height: 75vh;
  }
  border: 1px solid #FF0000;
  width: 100%;
}

.navbar{
  background-color: #007DC3;
  border-bottom: 1px solid #FF0000;
  a{
    color: white;
  }
  .blueText{
    a{
      color: #007DC3;
    }
  }
}


.homePagebtnLeft{
  margin: 15px;
  background-color: #007DC3;
  border: 1px solid #FF0000;
  color: white;
  float: left;
}
.homePagebtnRight{
  margin: 15px;
  background-color: #007DC3;
  border: 1px solid #FF0000;
  color: white;
  float: right;
}

.homePageLogo{
  background-image: url('http://joaoalves.s2.siteinstantaneo.smartcloudpt.pt/userfiles/Round%20Flat%20Icon%2060.png');
  height: 300px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.gameShow{
  // margin: 5px;
  text-align: center;
}
.pannel{
  .title{
    color: white;
  }

  background-color: #007DC3;
  margin: 0 0 20px 0;
  border: 1px solid #FF0000;


}

.inline-Block{
  display: inline-block;
}

.floatRight{
  float: right;
}

.coachPannelBtn{
  margin: 5px;
}

.teamLogo{
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
